{% extends "base.html" %}
{% block content %}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <script>
        var socket = io();
    </script>
    <div class="content">
        <div id="timer"></div>
        <form method="POST" id="answersForm">
            {% for question in data %}
            Question:
            {{ question["title"] }}
            <br>
            Description:
            {{ question["description"] }}
            <br>
            <a href="{{ url_for('static', filename=playerid + question['questionId']  + '.txt') }}" download
                class="button is-link is-light is-small">Download Input</a>
            <p>ANSWER:</p>
            <input name="{{ question['title'] }}" type="text" id="{{ question['questionId'] }}" class="input"
                placeholder="{{ question['title'] }}">
            <button type="button" onclick="submitTextbox('{{ question['questionId'] }}', '{{ question['title'] }}')" class="button"> Submit </button>
            <div id="{{ question['questionId'] }}-result"></div>

            <br>
            <br>
            <script>
                socket.emit("change input", { "questionId": "{{ question['questionId'] }}", "playerId": "{{ playerid }}" });
            </script>
            {% endfor %}
        </form>
        <button class="button" id="endButton" type="button" style="display: none" onclick="seeLeaderboard()"> See
            Leaderboard </button>
        <script>

            questionAnswers = {};
            socket.on("question answer", function (data){
                var questionId = data["questionId"];
                var answer = data["answer"];
                console.log(questionId);
                console.log(answer);
                questionAnswers[questionId] = answer;
                console.log(questionAnswers);
            });
            console.log(questionAnswers);
            function lockAnswerBoxes(name) {
                var answerboxes = document.querySelectorAll("input[type=text]");
                answerboxes.forEach(function (answerbox) {
                    answerbox.disabled = true;
                });
            }

            function showButton() {
                var button = document.getElementById("endButton");
                button.style.display = "block";
            }
            console.log("{{ duration }}")
            var countdownDuration = parseInt("{{ duration }}");

            var now = new Date().getTime();
            var endTime = now + countdownDuration * 1000; // convert seconds to milliseconds

            var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = endTime - now;
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("timer").innerHTML = minutes + "mins" + seconds + "s";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("timer").innerHTML = "EXPIRED";
                    lockAnswerBoxes();
                    showButton();
                }
            }, 1000);

            // function submitTextbox(name) {
            //     var content = document.getElementById(name).value;

            //     var xhr = new XMLHttpRequest();
            //     xhr.open("POST", "/game/{{ gameid }}/competition/{{ playerid }}", true);
            //     xhr.setRequestHeader('Content-Type', 'application/json');
            //     xhr.onreadystatechange = function () {
            //         if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
            //             var response = xhr.responseText.split("+");
            //             console.log(response);
            //             var question = response[0];
            //             var result = response[1];
            //             var resultDiv = document.getElementById(question + "-result");
            //             if (result == "correct") {
            //                 resultDiv.innerHTML = "Correct!";
            //                 var answerbox = document.getElementById(question);
            //                 answerbox.disabled = true;
            //             } else {
            //                 resultDiv.innerHTML = "Incorrect!";
            //             }
            //         }
            //     };
            //     var data = JSON.stringify({ "question": name, "answer": content });
            //     xhr.send(data);
            // }
            var answeredCorrectly = 0;
            function submitTextbox(questionId, title) {
                var content = document.getElementById(questionId).value;
                if (content == questionAnswers[questionId]) {
                    var resultDiv = document.getElementById(questionId + "-result");
                    resultDiv.innerHTML = "Correct!";
                    var answerbox = document.getElementById(questionId);
                    answerbox.disabled = true;
                    socket.emit("correct answer", { "question": title, "playerId": "{{ playerid }}", "gameId": "{{ gameid }}", "questionid": questionId });
                    answeredCorrectly++;
                    if(answeredCorrectly == '{{ data|length }}'){
                        lockAnswerBoxes();
                        showButton();
                        socket.emit("finished questions", { "playerid": "{{ playerid }}", "gameid": "{{ gameid }}" })
                        let currentTime = new Date().getTime();
                        socket.emit("increase playtime", { "playerid": "{{ playerid }}", "gametime": (now - currentTime) / 1000, "gameid": "{{ gameid }}" });
                    }
                } else {
                    var resultDiv = document.getElementById(questionId + "-result");
                    resultDiv.innerHTML = "Incorrect!";
                }
            }

            function seeLeaderboard() {
                window.location.href = "/game/{{ gameid }}/leaderboard/players";
                socket.emit("increase playtime", { "playerid": "{{ playerid }}", "gametime": countdownDuration, "gameid": "{{ gameid }}" });
            }
        </script>
</body>
{% endblock %}