{% extends "base.html" %}
{% block content %}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <script>
    // var gameid = Math.floor(Math.random() * 100000);
    // console.log(gameid)
    var socket = io();
    var gameid;
    socket.emit("create game");
    socket.on("game created", function (data) {
      console.log("game created")
      console.log(data)
      gameid = data["gameid"];
      document.getElementById('gameid-input').value = gameid;
      console.log("gameid after setting gameid element: " + gameid)
    });

  </script>
  <h1> {{ title }} </h1>

  <div class="columns">
    <div class="column">
      <input name="questionTitle" type="text" id="tags" class="input is-narrow" placeholder="Search for questions">
    </div>
    <div class="column">
      <button type="button" class="button is-narrow" id="selectQuestion"> Select Question </button>
    </div>
    <form method="POST" action="/start_game">
      <div class="column">
        <input type="hidden" name="gameid" id="gameid-input">
        <button type="submit" class="button is-narrow">Start Game</button>
      </div>
      <div class="column">
        <label for="timer-seconds">Specify timer duration (in seconds):</label>
        <select id="timer-seconds" name="timer_seconds">
          <option value="0">0</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
        </select>
        <label for="timer-minutes">Specify timer duration (in minutes):</label>
        <select id="timer-minutes" name="timer_minutes">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
        </select>
      </div>
      <div class="column">
        <label class="checkbox">
          <input type="checkbox" name="broadcast">
          Broadcast question correct/incorrect?
        </label>
      </div>
      <div class="column">
        <label class="checkbox">
          <input type="checkbox" name="fullResults">
          Show full results on player leaderboard?
        </label>
      </div>
    </form>
  </div>
  <script>
    $(function () {
      var availableTags = [
        {% for question in questionData %} 
            "{{question.title}}",
      {% endfor %} 
    ];
    $("#tags").autocomplete({
      source: availableTags
    }); 
  } ); 
  </script>

  <script>
    document.getElementById("selectQuestion").onclick = function () {
      console.log("emitting selected question")
      let tagsElement = document.getElementById("tags");
      console.log("gameid: " + gameid)
      socket.emit("select question", { title: tagsElement.value, "gameid": gameid });
    };
  </script>

  <script>
    document.getElementById("removeQuestion").onclick = function () {
      socket.emit("remove question", { questionTitle: document.getElementById("removeQuestionTitle").value, "gameid": gameid });
    };
  </script>

  <div class="columns">
    <div class="column">
      <table class="table" id="addTable">
        <thread>
          <tr>
            <th>Question</th>
            <th>Difficulty</th>
            <th>Description</th>
            <th>Add</th>
          </tr>
        </thread>
        <tbody>
          {% for question in questionData %}
          <tr>
            <td>{{ question.title }}</td>
            <td>{{ question.difficulty }}</td>
            <td>{{ question.description }}</td>
            <td>
              <button type="button" id="selectQuestionTable" class="button is-one-quarter selectQuestionTable"
                titleData="{{ question.title}}"> Add </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      var buttons = document.getElementsByClassName("selectQuestionTable");
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].onclick = function () {
          console.log("emitting question" + i + this.getAttribute("titleData"))
          console.log("gameid: " + gameid)
          socket.emit("select question", { title: this.getAttribute("titleData"), "gameid": gameid });
        };
      }
    </script>

    <div class="column">
      <table class="table" id="removeTable">
        <thread>
          <tr>
            <th>Question</th>
            <th>Remove</th>
          </tr>
        </thread>
        <tbody>

      </table>
    </div>
  </div>

  <script>
    socket.on("question removed", function (data) {
      console.log("running question removed function");
      removeFromRemoval(data["title"]);
      showNotification(data["title"], "removed");
    });
  </script>
  <script>
    function showNotification(data, type) {
      console.log("showing notification")
      console.log(data)
      var exisitingNotification = document.getElementById("notification");
      if (exisitingNotification) {
        exisitingNotification.parentNode.removeChild(exisitingNotification);
        console.log("removed existing notification")
      }

      var notification = document.createElement("div");
      if (type == "selected") {
        notification.className = "notification is-success";
      } else if (type == "removed") {
        notification.className = "notification is-danger";
      }
      notification.id = "notification";

      notification.style.position = "fixed"; // Position the notification fixed
      notification.style.bottom = "20px"; // 20px from the bottom
      notification.style.right = "20px"; // 20px from the right

      notification.textContent = data + " has been " + type;
      var deleteButton = document.createElement("button");
      deleteButton.className = "delete";
      deleteButton.type = "button";
      deleteButton.addEventListener('click', function () {
        notification.parentNode.removeChild(notification);
      });
      notification.appendChild(deleteButton);
      document.body.appendChild(notification);
    }
  </script>
  <script>
    function addQuestionToRemoval(data) {
      var table = document.getElementById("removeTable");
      var row = document.createElement("tr");
      var question = document.createElement("td");
      question.textContent = data["title"];
      var remove = document.createElement("td");
      var removeButton = document.createElement("button");
      removeButton.type = "button";
      removeButton.className = "button is-one-quarter removeQuestionTable";
      removeButton.textContent = "Remove";
      removeButton.onclick = function () {
        socket.emit("remove question", { title: data["title"] });
        console.log("emitting question for removal" + data["title"])
      };
      remove.appendChild(removeButton);
      row.appendChild(question);
      row.appendChild(remove);
      table.appendChild(row);
    }
  </script>
  <script>
    socket.on("question selected", function (data) {
      console.log(data);
      showNotification(data.title, "selected");
      addQuestionToRemoval(data);
    });
  </script>
  <script>
    function removeFromRemoval(title) {
      console.log("running remove from removal function")
      var table = document.getElementById("removeTable");
      var rows = table.getElementsByTagName("tr");
      for (var i = 1; i < rows.length + 1; i++) {
        var row = rows[i];
        console.log(row)
        var question = row.getElementsByTagName("td")[0].textContent;
        console.log(question)
        console.log(title)
        if (question == title) {
          console.log("removing row - running if statement")
          row.parentNode.removeChild(row);
        }
      }
    }
  </script>
</body>
{% endblock %}