{% extends "base.html" %}
{% block content %}
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="columns">
        <div class="column">
            <table class="table">
                <!-- table of questions in the game -->
                <thread>
                    <th>Quetions</th>
                </thread>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <td>{{question}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <table id="players" class="table"> 
                <!-- table of players in the game -->
                <thread>
                    <th>Players</th>
                </thread>
                <tbody></tbody>
            </table>
        </div>
        <div class="column">
            <p class="title is-1">Join code: {{ gameid }}</p>
        </div>
        <div class="column">
            <form method="POST" action = "/game/{{ gameid }}/competition">
                <button type="submit" class="button"> Start Game </button>
            </form>
        </div>
    </div>
<script>
    var socket = io();
    socket.emit('connect waiting room', {"gameid": "{{ gameid }}"}); // send the game id to the server so that server knows socket id of this page
    socket.on("player joined", function(playerName){
        console.log("socket id: " + socket.id);
        var playersTable = document.getElementById("players");
        var row = document.createElement("tr");
        var player = document.createElement("td");
        player.textContent = playerName;
        row.appendChild(player); // update the table with the new player
        playersTable.appendChild(row);
        console.log(playerName);

    });
</script>

{% endblock %}
</body>