{% extends "base.html" %}
{% block content %}
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="columns">
        <div class="column">
            <table class="table">
                <thread>
                    <th>Quetions</th>
                </thread>
                <tbody>
                    {% for question in questions %}
                    <tr>
                        <td>{{question}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <table id="players" class="table">
                <thread>
                    <th>Players</th>
                </thread>
                <tbody></tbody>
            </table>
        </div>
        <div class="column">
            <p class="title is-1">Join code: {{ gameid }}</p>
        </div>
        <div class="column">
            <form method="POST" action = "/game/{{ gameid }}/compeition">
                <button type="submit" class="button"> Start Game </button>
            </form>
        </div>
    </div>
<!-- The questions: 
{% for question in questions %} 
"{{question}}", 
{% endfor %} 
{{ questions }}
The game id: {{ gameid }} -->
<!-- <form method="POST">
    <button type="submit" class="button"> REFRESH </button>
</form> -->
<!-- <div class="content" id="players"></div> -->
<script>
    var socketio = io();
    socketio.on("player joined", function(playerName){
        var playersTable = document.getElementById("players");
        var row = document.createElement("tr");
        var player = document.createElement("td");
        player.textContent = playerName;
        row.appendChild(player);
        playersTable.appendChild(row);
        console.log(playerName);
        // playersElement.innerHTML += playerName + "<br>";

    });
</script>

<!-- <script>
    socketio.on("question removed", function (data) {
      console.log("running question removed function");
      removeFromRemoval(data["title"]);
      showNotification(data["title"], "removed");
    });
  </script> -->
<!-- <p>
    NAMES:
    {% for name in playerNames %}
    {{ name }}
    {% endfor %}
</p> -->

{% endblock %}
</body>