{% extends "base.html" %}
{% block content %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<div style="display: flex; justify-content: center;">
<canvas id="leaderboard" style="width:100%;max-width:700px"></canvas>
</div>
<script>
    var trueScores = [];
    var trueNames = [];
</script>
<table class="table">
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Score</th>
    </tr>
    {% for player in results %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ player[0] }}</td>
        <td>{{ player[1] }}</td>
    </tr>
    <script>
        trueScores.push({{ player[1] }});
        trueNames.push("{{ player[0] }}");
    </script>
    {% endfor %}
</table>
<script>
    let badScores = '{{ playerScores }}'.split(",");
    let scores = badScores.map((x) => x.replace(/\[*\]*/g, ""));
    let badNames = '{{ playerNames }}'.split(",");
    console.log(badNames)
    let players = badNames.map((x) => x.replace(/\[*&#39;\]*/g, ""));
    console.log(players)
    console.log(scores)
    const myChart = new Chart("leaderboard", {
    type: "bar",
    data: {labels: trueNames,
    datasets: [{
        label: 'Scores',
        data: trueScores,
        backgroundColor: 
            'rgba(255, 99, 132, 0.2)',
        borderColor:
            'rgba(255, 99, 132, 1)',
        borderWidth: 1
    }]},
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

{% endblock %}
