{% extends "base.html" %}
{% block content %}
<p>Title:  {{ title }}</p>
<p>Description: {{ description }}</p>
<p>Difficulty: {{ difficulty }}</p>

<button id="addToQuestions">Select</button>
    
{% endblock %}

<script>
    document.getElementById('addToQuestions').addEventListener('click', function() {
        // Send an HTTP POST request to the Flask server
        fetch('/<questionid>', { method: 'POST' })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    });
</script>
